.agentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 10em;
  height: 10em;
  margin: 1em;
  cursor: pointer;
}
.agentBox:hover {
  border: 3px solid red;
}
.agentImage {
  width: 40%;
  height: auto;
}
.agentName {
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: inline-block;
}
