.loginButton {
  font-size: 1em;
  padding: 1em;
  color: #fff;
  background-color: #5865f2;
  border: 1px solid black;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 2em;
}

.center {
  display: flex;
  justify-content: center;
}
